@page
@model Crud.Pages.Clientes.EditModel
@{
}


<br>

<h2>Editar Cliente</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-primary" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



<form method="POST">
    <input type="hidden" name="id" value="@Model.clientInfo.id" />

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nome:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nome" value="@Model.clientInfo.nome" />
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.clientInfo.email" />
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="telefone" value="@Model.clientInfo.telefone" />
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="endereco" value="@Model.clientInfo.endereco" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
                </div>
            </div>
        </div>
    }


    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-4 d-grid">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancelar</a>
        </div>
    </div>

</form>

