@page
@model Crud.Pages.Clientes.IndexModel
@{
}

<br>
<h2> Lista de Clientes</h2>

<a class="btn btn-primary btn-sm" href="/Clientes/Create"> Novo Cliente</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereco</th>
            <th>Criado em</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.listClients)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.nome</td>
                <td>@item.email</td>
                <td>@item.telefone</td>
                <td>@item.endereco</td>
                <td>@item.criacao_em</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Clientes/Edit?id=@item.id">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Clientes/Delete?id=@item.id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>